.main-content {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	background-image: url('assets/img/placeholder/bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	&::before {
		display: block;
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, .5);
	}
}
.main-content > .container {
	margin-top: 0;
	padding-bottom: 0;
	position: relative;
	z-index: 1;
	> .grid {
		align-items: center;
		position: relative;
		min-height: 100vh;
	}
}

.card-content {
	color: #666;
}
.presentation-section {
	// max-height: 100vh;
	// overflow: auto;
	// ::-webkit-scrollbar {
	// 	display: none;
	// 	width: 0px;
	// }
	position: relative;
	z-index: 1;
	.breadcrumb {
		margin-left: -12px;
		.breadcrumb-item {
			color: #fff;
		}
	}
	h1, h2 {
		color: #fff;
	}
}

.infos-section {
	color: #fff;
	background-color: rgba(111, 205, 210, 0.616);
	min-height: 100vh;
	height: 100%;
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	flex-direction: column;
	justify-content: center;
	.infos {
		padding: 1rem;
		ul, li {
			list-style: none;
		}
		ul {
			padding: 0;
		}

		.tag {
			background-color: darken(#6FCDD2, 20%);
			color: white;
			font-size: 14px;
			padding: .1em .75em;
			border-radius: 5px;
			display: inline-block;
			margin-top: .25em;

			+ .tag {
				margin-left: .25em;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.presentation-section {
		padding: 2rem 1rem 1rem;
	}
	.infos-section {
		height: auto;

		app-destination-gallery {
			transform: none;
		}
	}
}
