<main class="main">
	<section class="main-content">
		<section class="section">
			<div class="textfield mod-search mod-block">
				<input class="textfield-input" placeholder="Cherchez une destination" [formControl]="clueCtrl">
			</div>
		</section>
		<section class="section">
			<h2>Destinations</h2>
			<div class="grid" >
				<div class="grid-md4 grid-lg3" *ngFor="let destination of destinations$ | async">
					<app-destination-thumbnail [destination]="destination"></app-destination-thumbnail>
				</div>
			</div>
		</section>
	</section>
</main>